@import "partials/home_pg";
@import "partials/project_pg";
@import "partials/reg_pg";
@import "partials/footer";
@import "partials/login_pg";
@import "partials/404_pg";

body {
  background-image: url("dark_embroidery.png");
  max-width: 720px;
  padding: 0 8%;
  background: white;
  margin: auto;
}

a {
  text-decoration: none;
}

form {
  font-size: 20px;
  margin-bottom: 5px;
}

input {
  font-size: 20px;
  text-align: center;
  font-family: Times;
}

#link_form {
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
}

#desc_form {
  font-size: 20px;
  height: 85px;
  width: 400px;
  margin-bottom: 8px;
  wrap: hard;
}

.wrap {
  min-height: calc(100vh - 104px);
}

.container {
  margin: auto;
  width: 90%;
}

#back_btn {
  background-color: #00b377;
  color: white;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
}

#back_btn:hover {
  background: #157253;
}

#submit {
 background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 5px;
  transition: all 0.4s ease 0s;
}

#submit:hover {
  background: #157253;
}

#header {
  padding: 20px 0;
  font-size: 20px;
  background-color: white;
  margin-top: 0;
  border-bottom: solid #cbc5cc 1px;

}

#header h1 {
  margin: 0;
  color: #00b377;
  transition: all 0.4s ease 0s;

}

#header h1:hover {
  color: #157253;
}





