a {
  text-decoration: none; }

form {
  font-size: 20px;
  margin-bottom: 5px; }

input {
  font-size: 20px;
  text-align: center;
  font-family: Times; }

#link_form {
  height: 30px;
  width: 300px;
  margin-bottom: 20px; }

#desc_form {
  font-size: 20px;
  height: 85px;
  width: 400px;
  margin-bottom: 8px;
  wrap: hard; }

.wrap {
  min-height: calc(100vh - 104px); }

.container {
  margin: auto;
  width: 90%; }

.projects {
  align: center;
  border-bottom: solid #cbc5cc 1px;
  color: black;
  text-decoration: none;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 0.6s ease 0s; }

.projects:hover {
  background: #00b377; }

#np_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: all 0.4s ease 0s; }

#np_btn:hover {
  background: #157253; }

#logout_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 10px; }

#logout_btn:hover {
  background: #157253; }

#reg_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 10px; }

#reg_btn:hover {
  background: #157253; }

#editproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 5px; }

#editproj_btn:hover {
  background: #157253; }

#delproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 5px; }

#delproj_btn:hover {
  background: #157253; }

#back_btn {
  background-color: #00b377;
  color: white;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s; }

#back_btn:hover {
  background: #157253; }

#submit {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 5px;
  transition: all 0.4s ease 0s; }

#submit:hover {
  background: #157253; }

#header {
  padding: 20px 0;
  font-size: 20px;
  background-color: white;
  margin-top: 0;
  border-bottom: solid #cbc5cc 1px; }

#header h1 {
  margin: 0;
  color: #00b377;
  transition: all 0.4s ease 0s; }

#header h1:hover {
  color: #157253; }

#footer {
  color: #8d9599;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding: 48px 0; }

#notFound {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 200px;
  margin-top: 30px; }

#reg_user {
  margin-bottom: 10px; }

#reg_pass {
  margin-bottom: 10px; }

/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  list-style: none;
  background: #111; }

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000; }

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s; }

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, transparent 0%, rgba(75, 20, 20, 0.65) 100%); }

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  /* non-critical apperance styles */
  padding: 4em;
  background-image: linear-gradient(135deg, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background-size: 100%; }

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0); }

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain; }

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s; }

.nav-trigger:checked + label {
  left: 215px; }

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5); }

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden; }

code {
  padding: 2px;
  background: #ddd; }

/* Micro reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif; }
