body {
  background: white;
  text-align: center;
  margin: auto; }

a {
  text-decoration: none; }

form {
  font-size: 20px; }

input {
  font-size: 15px;
  text-align: center;
  font-family: Times; }

.wrap {
  min-height: calc(100vh - 104px); }

.container {
  text-align: center;
  margin: auto;
  width: 90%; }

.projects {
  display: inline-block;
  border: solid black 3px;
  width: 200px;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px; }

.box {
  width: 200px;
  height: 40px;
  border: solid black 3px;
  margin: 8px 0; }

#submit {
  background-color: orange;
  width: 208px;
  height: 40px;
  border: solid black 3px;
  margin: 10px 0; }

#header {
  font-size: 50px;
  background-color: blue;
  color: white;
  margin-top: 0; }

#header h1 {
  margin: 0;
  color: white; }

#header h1:hover {
  color: green; }

#footer {
  background-color: buttonface;
  padding: 8px;
  margin-top: 25px;
  font-size: 20px; }

#notFound {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 200px;
  margin-top: 30px; }

h1 {
  margin: 0; }

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent; }

.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }
