.projects {
  border-bottom: solid #cbc5cc 1px;
  color: black;
  text-decoration: none;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 0.6s ease 0s; }

.projects:hover {
  background: #00b377; }

#newproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: all 0.4s ease 0s; }

#newproj_btn:hover {
  background: #157253; }

#logout_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 10px; }

#logout_btn:hover {
  background: #157253; }

#reg_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 10px; }

#reg_btn:hover {
  background: #157253; }

#editproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 5px; }

#editproj_btn:hover {
  background: #157253; }

#delproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 5px; }

#delproj_btn:hover {
  background: #157253; }

#reg_user {
  margin-bottom: 10px; }

#reg_pass {
  margin-bottom: 10px; }

#footer {
  color: #8d9599;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding: 48px 0; }

#login_pass {
  margin-bottom: 10px; }

#login_username {
  margin-bottom: 10px; }

#notFound {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 200px;
  margin-top: 30px; }

body {
  background-image: url(assests/images/dark_embroidery.png);
  max-width: 720px;
  padding: 0 8%;
  background: white;
  margin: auto; }

a {
  text-decoration: none; }

form {
  font-size: 20px;
  margin-bottom: 5px; }

input {
  font-size: 20px;
  text-align: center;
  font-family: Times; }

#link_form {
  height: 30px;
  width: 300px;
  margin-bottom: 20px; }

#desc_form {
  font-size: 20px;
  height: 85px;
  width: 400px;
  margin-bottom: 8px;
  wrap: hard; }

.wrap {
  min-height: calc(100vh - 104px); }

.container {
  margin: auto;
  width: 90%; }

#back_btn {
  background-color: #00b377;
  color: white;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s; }

#back_btn:hover {
  background: #157253; }

#submit {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 5px;
  transition: all 0.4s ease 0s; }

#submit:hover {
  background: #157253; }

#header {
  padding: 20px 0;
  font-size: 20px;
  background-color: white;
  margin-top: 0;
  border-bottom: solid #cbc5cc 1px; }

#header h1 {
  margin: 0;
  color: #00b377;
  transition: all 0.4s ease 0s; }

#header h1:hover {
  color: #157253; }
