<h1>Edit Project</h1>

  <form name="form" action="/gallery/{{project.id}}" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PUT">
    Link: <br>
    <input type="text" name="link" value="{{project.link}}" class="box"><br>
    Description: <br>
    <input type="text" name="description" value="{{project.description}}" class="box"><br>
    <input type="submit" value="Submit" id="submit">
  </form>

<a href="/" class="back">Back</a>