<h1>Project Gallery</h1>

{{#each project}}
<a href="/gallery/{{this.id}}">
  <div class="projects">
    <p>link: {{this.link}}</p>
    <p>description: {{this.description}}</p>
  </div>
</a>
{{/each}}

<div>
  <input type=button id="new" onClick="location.href='/gallery/new'" value='New Project'>
</div>


