{{#each project}}
<a href="/gallery/{{this.id}}">
  <div class="projects">
    <p>Link: {{this.link}}</p>
    <div class="desc">
      <p>Description: {{this.description}}</p>
    </div>
  </div>
</a>
{{/each}}

{{#if user.Admin}}
  <div>
    <input type=button id="np_btn" style="cursor:pointer" onClick="location.href='/gallery/new'" value='New Project'>
  </div>
{{/if}}

<div>
  <input type=button id="reg_btn" style="cursor:pointer" onClick="location.href='/register'" value='Register'>
</div>

<div>
  <a href="/logout"><button style="cursor:pointer" id="logout_btn">Logout</button></a>
</div>


