{{!-- <ul class="navigation">
  <li class="nav-item"><a href="#">Home</a></li>
  <li class="nav-item"><a href="#">Portfolio</a></li>
  <li class="nav-item"><a href="#">About</a></li>
  <li class="nav-item"><a href="#">Blog</a></li>
  <li class="nav-item"><a href="#">Contact</a></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>

<div class="site-wrap">
</div> --}}






{{#each project}}
<a href="/gallery/{{this.id}}">
  <div class="projects">
    <p>Link: {{this.link}}</p>
    <div class="desc">
      <p>Description: {{this.description}}</p>
    </div>
  </div>
</a>
{{/each}}

<div>
  <input type=button id="np_btn" onClick="location.href='/gallery/new'" value='New Project'>
</div>

<div>
  <input type=button id="reg_btn" onClick="location.href='/gallery/register'" value='Register'>
</div>

<div>
  <a href="/logout"><button id="logout_btn">Logout</button></a>
</div>


