<h1>Login</h1>

<form name="form" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
    Username: <br>
    <input type="text" name="username" placeholder="username" class="box"><br>
    Password: <br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Submit" id="submit">
  </form>