<h1>New Project</h1>
  <form name="form" action="/gallery" method="POST" enctype="application/x-www-form-urlencoded">
    Link: <br>
    <input type="text" id="link_form" name="link" class="box"><br>
    Description: <br>
     <textarea id="desc_form" name="description"></textarea><br>
    <input type="submit" style="cursor:pointer" value="Submit" id="submit">
  </form>

<div>
  <input type=button id="back_btn" style="cursor:pointer" onClick="location.href='/'" value='Back'>
</div>
