<h1>New Project</h1>
  <form name="form" action="/gallery" method="POST" enctype="application/x-www-form-urlencoded">
    Link: <br>
    <input type="text" name="link" class="box"><br>
    Description: <br>
    <input type="text" name="description" class="box"><br>
    <input type="submit" value="Submit" id="submit">
  </form>