<h1>Project</h1>

<div class="projects">
  <p>Link: {{project.link}}</p>
  <p>Description: {{project.description}}</p>
</div>

<div>
  <a href="/gallery/{{project.id}}/edit" class="back">Edit</a>
</div>
<div>
  <a href="/" class="back">Back</a>
</div>

<form name="form" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" id="Delete">
    </form>