<h1>Register</h1>

<form name="form" action="/user" method="POST" enctype="application/x-www-form-urlencoded">
    Username: <br>
    <input type="text" name="username" placeholder="username" class="box"><br>
    New Password: <br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Register" id="submit">
  </form>