<h1>Register</h1>

<form name="form" action="/user" method="POST" enctype="application/x-www-form-urlencoded">
    Username: <br>
    <input type="text" id="reg_user" name="username" placeholder="username" class="box"><br>
    Password: <br>
    <input type="password" id="reg_pass" name="password" placeholder="password"><br>
    <input type="submit" style="cursor:pointer" value="Submit" id="submit">
  </form>