.projects {
  border-bottom: solid #cbc5cc 1px;
  color: black;
  text-decoration: none;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 0.6s ease 0s;
}

.projects:hover {
  background: #00b377;
}

#newproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: all 0.4s ease 0s;
}

#newproj_btn:hover {
  background: #157253;
}



#logout_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 10px;
}

#logout_btn:hover {
  background: #157253;
}

#reg_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 10px;
}

#reg_btn:hover {
  background: #157253;
}