#editproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 5px;
}

#editproj_btn:hover {
  background: #157253;
}

#delproj_btn {
  background-color: #00b377;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.4s ease 0s;
  margin-bottom: 5px;
}

#delproj_btn:hover {
  background: #157253;
}